@font-face {
  font-family: "Noto Sans";
  src: url(fonts/NotoSans-Regular.ttf);
}

@font-face {
  font-family: "Wargate";
  src: url(fonts/WargateNormalRegular-RpXJe.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans";
}

body {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
  --block-size: 40px;
}

svg {
  min-width: 24px;
  height: 24px;
  cursor: pointer;
}

svg:hover > path {
  fill: #202020;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#start-game {
  padding: 12px;
  border-radius: 10px;
  cursor: pointer;
}

#start-game:not(:disabled):hover {
  background-color: #dddddd;
}

#start-game:disabled {
  cursor: default;
}

.boards {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
}

.board {
  display: grid;
  grid-template: repeat(10, 1fr) / repeat(10, 1fr);
  background-color: #f0f0f0;
}

.ships {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 7px;
}

.ship-container {
  display: flex;
  align-items: center;
  gap: 24px;
}

.ship {
  width: min-content;
  display: flex;
}

.ship[data-vertical="true"] {
  display: block;
}

.ship-container.hidden {
  display: none;
}

.part {
  width: var(--block-size);
  height: var(--block-size);
  background-color: grey;
  border: 4px solid #464646;
}

.square {
  width: var(--block-size);
  height: var(--block-size);
  border: 1px solid rgb(31, 43, 68);
  display: grid;
  place-items: center;
  transition: all 0.2s ease;
}

.enemy-board:not(.active) > .square {
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.5);
  border-color: rgba(31, 43, 68, 0.66);
}

.enemy-board.active > .square:not(.hit, .missed) {
  cursor: crosshair;
}

.enemy-board .square:not(.hit, .missed):hover {
  background-color: rgb(223, 223, 223);
}
.square.preview-ship {
  background-color: rgba(128, 128, 128, 0.77);
  border: 4px solid rgba(70, 70, 70, 0.77);
  opacity: 0.75;
}

.square.ship {
  background-color: grey;
  border: 4px solid #464646;
}

.square.missed::after,
.square.hit::after {
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #000000a9;
}

.square.hit::after {
  background-color: red;
}

.square.sunk {
  background-color: grey;
  border: 4px solid #464646;
  opacity: 0.7;
}

.square.sunk.hit::after {
  background-color: rgba(240, 0, 0, 0.7);
}

.player-board .square.invalid {
  background-color: #dc262d;
  border: 1px solid black;
}

.header {
  font-size: 4.5rem;
  font-family: "Wargate";
}
